body {
    background: url(images/gravel.png);
    width: 100%;
    margin: 0;
    padding: 0;
}

.hangman {
    text-align: center;
}

.score,
.secret-word {
    text-align: center;
}
