html {
    background: url(images/gravel.png);
    background-repeat: repeat;
    padding: 0px;
    margin: 0;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
}

header {
    display: block;
    border-bottom: 2px solid #ccc;
    color: #777;
    font-size: 18px;
    width: 960px;
    background: #fff;
    height: 100px;
    margin: 0 auto;
}

.header {
    width: 960px;
    margin: 0 auto;
    padding: 25px;
}

wrapper {
    width: 100%
}

inside {
    width: 960px;
    margin: 0 auto;

}

ul {
    float: left;
    list-style: none;
    padding: 25px 0px 25px 25px
}

li {
    display: inline-block;
    float: left;
    padding: 16px;

}

label {
    display: block;
}

li a {
    color: #777;
    text-decoration: none;
}


.about {
    padding: 16px 16px 16px 330px;
}

nav {
    float: left;
    margin-top: 66px;
    display: block;
}



main {
    clear: both;
    width: 960px;
    font-size: 18px;
    color: #777;
    padding: 25px;
    font: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-color: #fff;
    margin: 0 auto;
}

#irina {
    height: 225px;
    width: 175px;
    float: left;
    padding: 25px 25px 25px 0px;
}

.irina {
    font-size: 28px;
    float: left;
    padding: 25px 25px 25px 00px;
    background: #4aaaa5;
    color: #ffffff;
    font-family: font-family: 'Georgia', Times, Times New Roman, serif;
}

h1 {
    font-family: font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
}

section {
    border-top: 3px solid #ddd;
    padding: 20px 0px 20px 0px
}

#message,
#email,
#name {
    width: 100%;
}



footer {
    border-top: 8px solid #4aaaa5;
    clear: both;
    background: #666666;
    text-align: center;
    padding: 25px 25px 25px 25px;
    width: 100%;
